.completed {
    background-color: lightgreen;
  }
  
  .in-progress {
    background-color: yellow;
  }
  
  .pending {
    background-color: salmon;
  }

  .list-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #19946b;
    border-radius: 5px;
    cursor: pointer;
  }

  .list-item2 {
    padding: 10px;
    margin: 5px 0;
    background-color: #802d2d;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .list-item:hover {
    background-color: #e0e0e0;
  }
  
  /* Additional styles can be added as needed */
  